:root {
  --background: white;
  --text-primary: black;
  --system-text: grey;
  --accent1: rgb(0, 0, 228);
  --accent2: rgb(0, 0, 228);
  --error: red;
  --good: green;
  --border-color: black;
  --border-radius: 5px;
  --button-color: red;
  --opposite-highlight: white;
  --component-margin: 20px;
  --font: "Roboto", sans-serif;
}
[data-theme="dark"] {
  --background: black;
  --text-primary: white;
  --system-text: #8bf8fa;
  --accent1: #f9ec6d;
  --accent2: #d683ff;
  --border-color: white;
  --error: #ff3b3f;
  --good: #aaff00;
  --border-radius: 5px;
  --button-color: white;
  --opposite-highlight: white;
  --component-margin: 20px;
  --font: "Source Code Pro", monospace;
}

.header {
  color: var(--system-text);
  font-size: 30px;
}

body {
  font-family: var(--font);
  background-color: var(--background);
  font-weight: 700;
}

button {
  margin: 2px;
  text-transform: uppercase;
  background-color: var(--background);
  color: var(--accent1);

  border: 2px solid var(--accent1);

  border-radius: var(--border-radius);
}

button:disabled {
  animation-name: backgroundColorPalette;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: linear;
}

button:hover:enabled {
  /* background-color: var(--accent1); */

  border: 2px solid var(--button-color);
}

.iconButton {
  background-color: var(--background);
  border: none;
}

.iconButton:hover:enabled {
  border: none;
}

::placeholder {
  color: var(--text-primary);
}

svg {
  color: var(--accent1);
}

svg:hover {
  color: var(--text-primary);
}

.title {
  font-size: 20px;
  color: var(--system-text);
  text-decoration: underline;
  text-underline-offset: 10px;
}

.App {
  text-transform: uppercase;
  background-color: var(--background);
  color: var(--text-primary);
}

a {
  color: var(--accent1);
  text-decoration: none;
}

a:hover {
  color: var(--text-primary);
}

textarea {
  background-color: var(--background);
  color: var(--system-text);
}

.good {
  color: var(--good);
}

@keyframes backgroundColorPalette {
  0% {
    background: var(--accent1);
  }
  25% {
    background: var(--background);
  }
  50% {
    background: var(--accent1);
  }
  100% {
    background: var(--background);
  }
}

select {
  background: var(--background);
  border-color: var(--accent1);
  color: var(--accent1);
  border-radius: var(--border-radius);
  border: 2px solid;
  text-align-last: center;
  text-transform: uppercase;
}

input {
  color: var(--accent1);
  background-color: var(--background);
  text-transform: uppercase;
  border: 2px solid;
  border-radius: var(--border-radius);
}

table {
  margin-top: 20px;
  text-align: left;
  border-collapse: collapse;
}
td {
  border: 1px solid;
  padding: 10px;
}
th {
  padding: 10px;
}

.hoverRow {
  background-color: var(--accent2);
  color: var(--opposite-highlight);
}

.error {
  color: var(--error);
}

.emptyCell {
  border: none !important;
}

.totalsCell {
  font-weight: 900;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
